---
import childProcess from "child_process";

const today = new Date();
 
// obtain Git commit hash
const hash = childProcess
  .execSync("git rev-parse --short HEAD")
  .toString()
  .trim();
---
<p class="text-base03 px-4 py-2">
Copyright (c) Hayden Young {today.getFullYear()}. Version <a target="_blank" href={`https://github.com/hbjydev/hayden.moe/commit/${hash}`} class="decoration-wavy underline hover:text-pink transition-color duration-200">{hash}</a>.
</p>
